@font-face 
{
  font-family: 'MaestroBold';
  src: url('../Resources/Fonts/Maestro-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face 
{
  font-family: 'MaestroBook';
  src: url('../Resources/Fonts/Maestro-Book.ttf');
  font-weight: bold;
  font-style: normal;
}

.uk-navbar-container 
{
  padding-left: 20px;
  padding-right: 20px;
}

.nav-logo
{
  height: 100%;
  max-height: 30px; 
  width: auto;
  display: block;
}

.uk-card-title, .uk-button-primary, .uk-link-reset, .uk-link-text, .uk-heading-medium, .uk-text-large
{
  font-family: "MaestroBold";
  font-weight: bold;
}

.uk-navbar-nav li a, .uk-input, .checkbox-label, .uk-text-small, .uk-text-default
{
  font-family: 'MaestroBook';
  font-weight: normal;
}

.uk-input, .uk-card, .uk-button-primary
{
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.uk-card
{
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.background-image 
{
  background-image: url('../Resources/Images/Backgrounds/Background-1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;  
}

.uk-notification-message 
{
  font-family: 'MaestroBold';
  text-align: center;
  font-size: medium;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button 
{
  -webkit-appearance: none;
  margin: 0;
}

.spinner-overlay
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 9999;
}

:root 
{
  --sk-size: 50px;
  --sk-color: white;
}

#offcanvas-nav a 
{
  color: gray !important;
  padding: 12px 0 !important;
  font-size: larger !important;
}

.sidebar-icon
{
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 28px; 
  height: 28px; 
  margin-right: 14px;
}

.icon-home 
{
  background-image: url('../Resources/Images/Icons/home.png');
}

.icon-listings 
{
  background-image: url('../Resources/Images/Icons/th-list.png');
}

.icon-settings 
{
  background-image: url('../Resources/Images/Icons/cog.png');
}