@font-face 
{
  font-family: 'MaestroBold';
  src: url('../Resources/Fonts/Maestro-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face 
{
  font-family: 'MaestroBook';
  src: url('../Resources/Fonts/Maestro-Book.ttf');
  font-weight: bold;
  font-style: normal;
}

.uk-logo
{
  font-family: 'MaestroBold';
}

.uk-navbar-nav li a {
  font-family: 'MaestroBook' !important;
  font-weight: normal;
}

.uk-navbar-container 
{
  padding-left: 20px;
  padding-right: 20px;
}