@font-face 
{
  font-family: 'MaestroBold';
  src: url('../Resources/Fonts/Maestro-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face 
{
  font-family: 'MaestroBook';
  src: url('../Resources/Fonts/Maestro-Book.ttf');
  font-weight: bold;
  font-style: normal;
}

.uk-navbar-container 
{
  padding-left: 20px;
  padding-right: 20px;
}

.nav-logo
{
  height: 100%;
  max-height: 30px; 
  width: auto;
  display: block;
}

.uk-card-title, .uk-button-primary, .uk-link-reset, .uk-link-text
{
  font-family: "MaestroBold";
  font-weight: bold;
}

.uk-navbar-nav li a, .uk-input, .checkbox-label, .uk-text-small
{
  font-family: 'MaestroBook';
  font-weight: normal;
}

.uk-input, .uk-card, .uk-button-primary
{
  border-radius: 8px;
}